/* style.css */

/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
}

/* Header Styles */
.navbar {
  padding: 15px;
}

/* Custom Flex Styles */
.custom-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.custom-flex-item {
  flex: 0 0 calc(30% - 20px);
  margin: 10px;
  text-align: center;
}

.custom-flex-item img {
  width: 100%;
  border-radius: 8px;
  height: 200px;
}



/* Photo Gallery Styles */
.photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin: 20px;
}

.container {
  width: 100%;
  margin: 0.5rem auto;
}

.photo-gallery img {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.photo-gallery img:hover {
  transform: scale(1.05);
}

#grid1 {
  grid-row: 1 / span 5;
  grid-column: 1 / span 2;
}

#grid2 {
  grid-row: 1 / span 2;
  grid-column: 3 / span 1;
}

#grid3 {
  grid-row: 3 / span 2;
  grid-column: 3 / span 1;
}

#grid4 {
  grid-row: 1 / span 2;
  grid-column: 4 / span 1;
}

#grid5 {
  grid-row: 3 / span 2;
  grid-column: 4 / span 1;
}

#grid6 {
  grid-row: 1 / span 2;
  grid-column: 5 / span 3;
}

#grid7 {
  grid-row: 3 / span 2;
  grid-column: 5 / span 3;
}

#grid8 {
  grid-row: 6 / span 2;
  grid-column: 1 / span 2;
}

#grid9 {
  grid-row: 6 / span 2;
  grid-column: 3 / span 5;
}


/* Media Queries */
@media (max-width: 768px) {
  .photo-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "top-left top-middle"
      "middle-left middle-middle"
      "bottom-left bottom-middle";
  }
}

@media (max-width: 576px) {
  .photo-gallery {
    grid-template-columns: 1fr;
    grid-template-areas:
      "top-left"
      "top-middle"
      "middle-left"
      "middle-middle"
      "bottom-left"
      "bottom-middle";
  }
}


/* ... rest of your styles ... */

/* Media Queries */
@media (max-width: 768px) {
  .custom-flex-item {
    flex: 0 0 100%;
  }
}

@media (max-width: 576px) {
  .photo-gallery {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}
